.sharpDiv__game__web{
    display: none;
}
.game__A__text_img img{
    width: 100%;
    filter: brightness(0.8);
}

.game__ads{
    padding: 10rem 4rem;
    width: 100%;
    min-height: 80vh;
    background-color: black;
    color: white;
    /* position: absolute; */

}
.game__item__A{
    width: 100%;
    height: 70vh;
    background-color: black;
    color: white;
}
.new_game img{
    width: 100%;
}
@media screen and (max-width: 220px){
   .sharpDiv__game__web{
       display: none;
   }
    .game__ads{
        padding: 4rem 2rem;
        width: 100%;
        min-height: 80vh;
        background-color: black;
        color: white;
        position: absolute;
    
    }



















    
}
@media screen and (max-width: 414px){
    .sharpDiv__game__web{
        display: none;
    }
    .game__ads{
        padding: 4rem 3rem;
        width: 100%;
        min-height: 80vh;
        background-color: black;
        color: white;
        position: absolute;
    
    }
}
@media screen and (max-width: 768px){

}














.custom-shape-divider-bottom-1611932898 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1611932898 svg {
    position: relative;
    display: block;
    width: calc(300% + 1.3px);
    height: 480px;
}

.custom-shape-divider-bottom-1611932898 .shape-fill {
    fill: #91a8be;
}