.navbarMain{
    padding: 2rem 10%;
    width: 100%;
    height: 85vh;
    background-image: url('../../VR__Pic/Playstation-VR-HD-Wallpaper.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}
.btn__classic{
    color: white;
}

a{
    color: white;
}
.links i{
    color: red;
}
.navMain nav{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: space-evenly;
}
.nav__links ul{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-gap: 20px;
}
.toggle__bar div{
    background-color: red;
    width: 30px;
    height: 5px;
    margin: 2px 0;
}
.navMain{
    display: flex;
}
.toggle__bar{
    display: none;
}
.logoImg h1{
    color: white;
}
.logoImg h1 i{
   
    color: #C82333;
}
/* Adding info__main */

.info__main{
    margin: 120px 0;
    color: white;
  
}
.info__1 a{
    align-items: center;
}


@media screen and (max-width: 220px){
    h1{
        font-size: 1rem;
    }
     h2{
        font-size: 0.7rem;
    }
    p{
        /* font-size: 0.1rem; */
        display: none;
    }
    .info__main{
        margin: 5px 0;
        color: white;
      
    }
    .navbarMain{
        padding: 1rem 8%;
        width: 100%;
        height: 60vh;
        background-image: url('../../VR__Pic/Playstation-VR-HD-Wallpaper.jpg');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    
    }
    .logoImg h1{
        font-size: 0.8rem;
    }
    .navbarMain{
        padding: 1rem 5%;
    
    }
    .navMain nav{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        justify-content: space-evenly;
    }
    .nav__links ul{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-gap: 5px;
    }
    .toggle__bar{
        display: block;
    }
    .nav__links{
        display: none;
    }
    .info__1 h1,h2{
        color: red;
    }
    
}



@media screen and (max-width: 414px){
    h1{
        font-size: 1rem;
    }
     h2{
        font-size: 0.8rem;
    }
    p{
        font-size: 1.5rem;
    }
    .info__main{
        margin: 70px 0;
        color: white;
      
    }
    .navbarMain{
        padding: 1rem 8%;
        width: 100%;
        min-height: 80vh;
        background-image: url('../../VR__Pic/Playstation-VR-HD-Wallpaper.jpg');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    
    }
    .navMain nav{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        justify-content: space-evenly;
    }
    .nav__links ul{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-gap: 11px;
    }
    .toggle__bar{
        display: block;
    }
    .nav__links{
        display: none;
    }
    .info__1 h1,h2{
        color: red;
    }
    
}


@media screen and (max-width: 768px){
    .navbarMain{
        padding: 2rem 7%;
        width: 100%;
        height: 70vh;
        background-image: url('../../VR__Pic/Playstation-VR-HD-Wallpaper.jpg');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    
    }
    .info__main{
        margin: 40px 0;
        color: white;
      
    }
    .info__1 h1,h2{
        color: red;
    }
}